@font-face {
    font-family: ui-font;
    src: url(assets/Birthstone-Regular.ttf);
}

html,
body {
    user-select: none;
    font-family: ui-font, "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20pt;
    color: #634f29;
    padding: 0px;
    margin: 0px;
}

.canvasS {
    position: absolute;
    top: 0px;
    left: 0px;
}

.ui_highlight{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    display: flex;
    justify-content: start;
    gap: 20px;
    z-index: 1;
}

.toolbar button {
    cursor: pointer;
}

.toolbar .paper {
    color: inherit;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #B5914A;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #E6CA8E;
    padding: 2px 20px;

}

.toolbar .paper:before,
.toolbar .paper:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0px;
    width: 50%;
    height: 10px;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.toolbar .paper:after {
    right: 0px;
    left: auto;
    transform: rotate(3deg);
}


.toolbar .paperMenu {
    color: inherit;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #B5914A;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #E6CA8E;
    padding: 2px 20px;
    display: none;
}

.toolbar .paperMenu:before,
.toolbar .paperMenu:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0px;
    width: 50%;
    height: 10px;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.toolbar .paperMenu:after {
    right: 0px;
    left: auto;
    transform: rotate(3deg);
}

.toolbar .statusbar {
    display: flex;
    gap: 20px;
}

.toolbar .status {
    display: inline-grid;
    grid-template-columns: auto auto 24px;
    grid-auto-columns: auto;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: start;
    gap: 4px
}

.toolbar .status::before {
    content: attr(title);
    display: inline-block;
    grid-column-start: 1;
}

.toolbar .status::after {
    content: '';
    display: inline-block;
    background-image: var(--icon);
    width: 24px;
    height: 24px;
    grid-column-start: 3;
}


.tooltipLumber {
    position: relative;
    display: inline-block;
}

.tooltipLumber .tooltipLumberText {
    visibility: hidden;
    width: 120px;
    background-color: #665537;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    font-size: 30px;
}

.tooltipLumber:hover .tooltipLumberText {
    visibility: visible;
}

.tooltipLumber .tooltipLumberText::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #665537 transparent;
}

.tooltipQuarry {
    position: relative;
    display: inline-block;
}

.tooltipQuarry .tooltipQuarryText {
    visibility: hidden;
    width: 120px;
    background-color: #665537;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    font-size: 30px;
}

.tooltipQuarry:hover .tooltipQuarryText {
    visibility: visible;
}

.tooltipQuarry .tooltipQuarryText::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #665537 transparent;
}



.tooltipBank {
    position: relative;
    display: inline-block;
}

.tooltipBank .tooltipBankText {
    visibility: hidden;
    width: 120px;
    background-color: #665537;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    font-size: 30px;
}

.tooltipBank:hover .tooltipBankText {
    visibility: visible;
}

.tooltipBank .tooltipBankText::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #665537 transparent;
}


.tooltipBarracks {
    position: relative;
    display: inline-block;
}

.tooltipBarracks .tooltipBarracksText {
    visibility: hidden;
    width: 120px;
    background-color: #665537;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    font-size: 30px;
}

.tooltipBarracks:hover .tooltipBarracksText {
    visibility: visible;
}

.tooltipBarracks .tooltipBarracksText::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #665537 transparent;
}

.buildWindow {
    position: fixed;
    bottom: -10%;
    left: 11%;
    width: 18%;
    height: 20%;
    margin-left: 10px;
}

.buildWindow .overlay {

    opacity: 1;
    transition: opacity 100ms ease-in-out 200ms;
}

.buildWindow .content {
    background-color: #634f29;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.buildWindow .content .buildWindowText {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 120%;
    left: 50%;
    margin-left: 10px;
    font-size: 40px;
}

.buildWindow .content .buildWindowText2 {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 0px;
    left: 50%;
    margin-left: 15px;
    font-size: 30px;
}

.buildWindow button {
    cursor: pointer;
}

.buildWindow .paperButton {
    color: inherit;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #B5914A;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #E6CA8E;
    padding: 2px 20px;
    top: 5%;
    left: 100px;
}

.buildWindow .paperButton:before,
.buildWindow .paperButton:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0px;
    width: 50%;
    height: 10px;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.buildWindow .paperButton:after {
    right: 0px;
    left: auto;
    transform: rotate(3deg);
}

.buildWindow.active {
    bottom: -70px;
    transition: bottom 0ms ease-in-out 0ms;
}

.buildWindow.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.buildWindow.active .content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}



.buildingMode {
    position: fixed;
    text-align: center;
    padding: 2px 20px;
    top: 90px;

}

.buildingMode .overlay {
    opacity: 1;
    transition: opacity 100ms ease-in-out 200ms;
}

.buildingMode .buildingMode-content {
    position: fixed;
    text-align: center;
    padding: 2px 20px;
    top: 130px;
    background-color: #E6CA8E;
    border-color: #B5914A;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    left: 49.5%;
    font-size: 50px;
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.buildingMode.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.buildingMode.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.buildingMode.active .buildingMode-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.healthBar-container {
    position: relative;
    width: 70px;
    height: 5px;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 0px;
    visibility: hidden;
}

.healthBar-container .healthBar {
    height: 100%;
    background-color: #cc2f2f;
    width: 100%;
    border-radius: 5px 0 0 5px;
    visibility: hidden;
}

.winLose{
    position: fixed;
    text-align: center;
    padding: 2px 20px;;
}

.winLose .overlay{
    opacity: 1;
    transition: opacity 100ms ease-in-out 200ms;
}

.winLose .winLose-container{
    position: fixed;
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 2px 20px;
    top: 350px;
    background-color: #E6CA8E;
    border-color: #B5914A;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    left: 49.5%;
    font-size: 150px;
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}

.winLose.active{
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.winLose.active .overlay{
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.winLose.active .winLose-container{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

}

.win-Text{
    display: grid;
    visibility: hidden;
}

.lose-Text{
    display: grid;
    visibility: hidden;
}

.winLose button {
    cursor: pointer;
}

.winLose .button {
    color: inherit;
    position: relative;
    font-family: inherit;
    font-size: 70px;
    border-width: 1px;
    border-style: solid;
    border-color: #B5914A;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #E6CA8E;
    padding: 10px;
    margin: auto;
    display: inline;
    bottom: 20px;
    width: 250px;
}

.winLose .button:before,
.winLose .button:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0px;
    width: 50%;
    height: 10px;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
}

.winLose .button:after {
    right: 0px;
    left: auto;
    transform: rotate(3deg);
}