canvas {
    margin: -8px;
}

.tabResources {
    width: 100%; /*204.2*/
    background-color: #555;
    overflow: auto;
    margin: -8px;

}

.tabResources a {
    float: left;
    text-align: center;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

